/* TODO: limit this scope to be only applied inside CcountrySelect */
:global(.fi) {
    width: 14px !important;
    height: 14px !important;
}

.dropdown {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

}

.country-option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 6px 4px 10px;

    cursor: pointer;
}

.country-option-selected {
    background-color: #FFDBB3;
}